@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-filmlog {
  font-family: "Space Grotesk", sans-serif;;
}

.bg-azul {
  background-color: #5A86FF;
  transition: ease-in-out 0.3s;
}

.sombras {
  box-shadow: -2px 4px 0px 2px black;
}

.bg-cinza {
  background-color: #D1D1D1;
}

.botao-hover:hover {
  background-color: #4568c7;
}

.texto-cinza {
  color: #6E6E6E;
}

.link-azul {
  color: #5A86FF;
  text-decoration: underline;
}